SECRET_KEY = "YourSecrectKey"
DEBUG = Bool
ALLOWED_HOSTS = host1,host2,host3
USERNAME = "Your Username"
EMAIL = "Your Email"
PASSWORD = "Your Password"
GMAIL_ADDRESS = "Your Gmail Address"
GMAIL_APP_PASSWORD = "Your Gmail App Password"
GOOGLE_OAUTH2_CLIENT_SECRET=some_string
GOOGLE_OAUTH2_CLIENT_ID=some_string.apps.googleusercontent.com