.cart-icon-link{
  position: relative;
}

#cart-icon {
  width: 60px;
  height: 60px;
  padding: 16px;
  
}


#mini-cart-total{
  background-color: #ffad14;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight:bolder;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute !important;
  top: -10px;
  right: -6px;
}

#account{
  width: 50px;
  height: 50px;
  padding: 8px;
}

.store-pd-container {
  padding: 16px 0;
  row-gap: 16px;
  background-color: rgb(255, 255, 255);
}

.product-card {
  overflow: hidden;
}

.product-card .img-container {
  height: 300px;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  padding: 10px 0;
}

.product-card .img-container img {
  height: 100%;
}

.product h6 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box-element {
  margin-top: 20px !important;
  box-shadow: #00000066 0 0 10px;
  padding: 10px;
}

.payment-element{
  box-shadow: #00000066 0 0 10px;
  padding: 10px;
}

.cart-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  column-gap: 16px;
}

.cart-row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd-image {
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.row-image {
  height: 100px;
}

.cart-pd-name p {
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.qty{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
}

.qty p{
  margin-bottom: 0 !important;
}

.form-field {
  margin: 10px 0;
}

.btn-block {
  width: 100%;
}

.hidden{
  display: none;
}

.social-login-confirmation, .account-connections {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.social-login-confirmation h2, .account-connections h2 {
  text-align: center;
}

.btn {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
